.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #303030;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 120px;
    width: 730px;
}

.header > * {
    pointer-events: all;
}

.header::after {
    content: '';
    position: absolute;
    top: 150px;
    left: 0;
    width: 100vw;
    height: 1.5px;
    background-color: #000;
}

.header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 100px;
    width: 1.5px;
    height: 100vh;
    background-color: #000;
    z-index: 10;
    transition: left 0.3s ease-in-out;
}

@media (max-height: 1060px) {
    .header::before {
        left: 86px;
    }
}

@media (max-height: 700px) {
    .header::before {
        left: 80px;
    }
}

@media (max-height: 570px) {
    .header::before {
        left: 52px;
    }
}

.logosWrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 26px 0 26px 110px;
}

.logotype {
    height: 90px;
    width: auto;
    max-width: 100%;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.quoteIcon, .logotype {
    -webkit-user-drag: none;
}

.name {
    position: fixed;
    left: 26px;
    bottom: 36px;
    transform-origin: top left;
    transform: rotate(270deg);
    z-index: 10;
    font-family: "Hepta Slab", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000;
    transition: font-size 0.2s ease-in-out;
}

@media (max-height: 1059px) {
    .name {
        font-size: calc(16px + 1.5vh);
    }
}

@media (max-height: 570px) {
    .name {
        font-size: calc(10px + 1vh);
    }
}

@media (max-height: 700px) {
    .name {
        bottom: 0;
    }
}


@media (max-height: 700px) {
    .name {
        left: 20px;

    }
}

.card {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    gap: 17.6px;
    border-radius: 80px;
    width: 476px;
    padding: 30px 36px;
    max-width: 480px;
    backdrop-filter: blur(25px);
    box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quoteIcon {
    width: 60px;
    height: 40px;
}

.title {
    font-family: "Hepta Slab", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000;
}

.description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #26282c;
}

@media (max-width: 1250px) {
    .card {
        max-width: 336px;
        gap: 8.6px;
        border-radius: 50px;
        padding: 20px 30px;
    }

    .title {
        font-size: 20px;
    }

    .quoteIcon {
        width: 50px;
        height: 30px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 1110px) {
    .card {
        top: unset;
        bottom: 20px;
    }
}

.toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #444;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 26px;
    cursor: pointer;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, right 0.4s ease-in-out;
}


.toggleButton:focus,
.resetButton:focus {
    outline: none;
    box-shadow: none;
}

.toggleButton.open {
    right: -100px;
}

.toggleButton:active {
    background-color: #2c2c2c;
    transition: background-color 0.1s ease;
}

.uiPanel {
    position: absolute;
    top: 0;
    right: -340px;
    width: 320px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 90px 24px 30px;
    background: rgba(25, 25, 25, 0.6);
    backdrop-filter: blur(16px) saturate(160%);
    -webkit-backdrop-filter: blur(16px) saturate(160%);
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom-left-radius: 10px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
    transition: right 0.4s ease-in-out;
    font-family: 'Segoe UI', sans-serif;
    color: #f2f2f2;
    z-index: 20;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.uiPanel::-webkit-scrollbar {
    display: none;
}

.uiPanel::-webkit-scrollbar {
    width: 6px;
}

.uiPanel::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px 0;
}

.uiPanel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    border: 1px solid transparent;
}

.uiPanel::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.uiPanel.open {
    right: 0;
}

.controlGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding-bottom: 20px;
}

.label {
    font-size: 15px;
    font-weight: 600;
    color: #ccc;
}

.valueLabel {
    font-size: 13px;
    color: #aaa;
    margin-top: 12px;
    margin-bottom: 6px;
}

.slider {
    width: 100%;
    appearance: none;
    height: 6px;
    background: linear-gradient(to right, #00bfff, #0080ff);
    border-radius: 4px;
    outline: none;
    transition: background 0.3s ease;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 2px solid #00bfff;
    transition: transform 0.2s ease;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toggleSwitch {
    position: relative;
    width: 50px;
    height: 28px;
}

.toggleInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: background 0.3s;
    border-radius: 50px;
    cursor: pointer;
}

.toggleInput:checked + .toggleSlider {
    background: linear-gradient(to right, #00bfff, #0080ff);
}

.toggleSlider:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.toggleInput:checked + .toggleSlider:before {
    transform: translateX(22px);
}

.infoBoxBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoBox {
    border-radius: 80px;
    min-width: 1246px;
    padding: 32px 48px 50px 48px;
    backdrop-filter: blur(25px);
    box-shadow: inset 0 0 4px 0px rgba(255, 255, 255, 0.5);
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    color: white;
    border: 1px solid #555;
    max-width: 500px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.infoBox h3 {
    margin-top: 0;
    color: #000000;
}

.infoBoxCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.titleContent {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Hepta Slab", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 16px;
    margin-right: 20px;
}

.infoQuoteIcon {
    width: 80px;
    height: 55px;
    transition: all 0.3s ease-in-out;
}

.infoBoxContent {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.cardImage {
    object-fit: cover;
}

.cardImage, .imagePlaceholder {
    width: 550px;
    height: 366px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.imagePlaceholder {
    width: 550px;
    height: 366px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #333;
}

.infoBoxDescription {
    list-style: none;
    padding: 0;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
}

.descriptionItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.descriptionItem:last-child {
    margin-bottom: 0;
}

.descriptionItem strong {
    white-space: nowrap;
    text-transform: uppercase;
}

.descriptionItem span {
    text-align: left;
}

@media (max-width: 1480px) {
    .infoBox {
        min-width: 872px;
        padding: 22px 34px 35px 34px;
        border-radius: 56px;
    }

    .titleContent {
        font-size: 15px;
        gap: 11px;
    }

    .infoQuoteIcon {
        width: 56px;
        height: 39px;
    }

    .infoBoxContent {
        gap: 17px;
    }

    .cardImage, .imagePlaceholder {
        width: 385px;
        height: 256px;
        border-radius: 7px;
    }

    .infoBoxDescription {
        font-size: 14px;
    }

    .descriptionItem {
        margin-bottom: 14px;
    }
}

@media (max-width: 920px) {
    .infoBox {
        min-width: 100%;
        width: 95%;
        padding: 20px;
        border-radius: 30px;
    }

    .infoBoxContent {
        flex-direction: column;
        align-items: center;
    }

    .cardImage, .imagePlaceholder {
        width: 100%;
        height: auto;
    }

    .infoBoxDescription {
        text-align: center;
    }

    .descriptionItem span {
        text-align: center;
    }
}

.interactivePointIcon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.interactivePointIcon:hover {
    transform: scale(1.15);
}

.hidden {
    display: none;
}

.loaderOverlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: white;
    font-size: 1.5rem;
}

.resetButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resetButton:hover {
    background-color: #ff1a1a;
}

.resetButton:active {
    background-color: #de4f4f;
    transition: background-color 0.1s ease;
}